* {
  font-family: 'Mochiy Pop One', sans-serif;
}

body {
  text-align: center;
}

header {
  background: #63ff5b5c;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 70px;
}

main {
  background: #40b6ff57;
  margin: 0;
  padding: 5px;
}

.select-game {
  color: #000;
  text-decoration: none;
}

button {
  border: 3px solid #0841ec8d;
  border-radius: 7px;
  width: 200px;
  height: 70px;
  font-size: 23px;
  background: rgba(255, 255, 255, .5);
}

button:hover {
  animation: buruburu 100ms infinite;
}

@keyframes buruburu {
  0% {
    transform:translate(0, 0) rotate(0);
  }

  17% {
    transform:translate(2px, -1px) rotate(-3deg);
  }

  34% {
    transform:translate(2px, 1px) rotate(3deg);
  }

  50% {
    transform:translate(0, 0) rotate(0);
  }

  67% {
    transform:translate(-2px, -1px) rotate(3deg);
  }

  82% {
    transform:translate(-2px, 1px) rotate(-3deg);
  }

  100% {
    transform:translate(0, 0) rotate(0);
  }
}

footer {
  background: #63ff5b5c;
  margin: 0;
  padding: 10px;
}

small > a {
  text-decoration: none;
  color: #2855ff;
}

small > a:hover {
  text-decoration: underline;
}

.billing {
  position: relative;
  top: -17px;
  right: -80px;
  border: 3px solid #0991295c;
}

#kakin-msg {
  border: 5px solid #555;
  background: #555;
  color: #fff;
  margin: 50px 20%;
  height: 300px;
  transform: translate(0, -300%);
}

#kakin-msg > p {
  color: #fd0;
  background: transparent;
  height: 80px;
  font-size: 40px;
}

#kakin-msg > button {
  position: relative;
  top: 35px;
  border: 2px solid #fd0;
  color: #fd0;
  background: transparent;
  height: 80px;
  font-size: 40px;
}

#kakin-msg > button:hover {
  color: #555;
  background: #fd0;
}